<form method="post">
    {% csrf_token %}
    tytuł: <input type="text" name="title">
    reżyser:<select name="director">
        {% for person in persons %}
            <option value="{{ person.id }}">
                {{ person.last_name }}
            </option>
        {% endfor %}
    </select><br>
scenarzysta:<select name="screen_play">
        {% for person in persons %}
            <option value="{{ person.id }}">
                {{ person.last_name }}
            </option>
        {% endfor %}
    </select><br>
grali: <select multiple name="starring"> {% for person in persons %}
            <option value="{{ person.id }}">
                {{ person.last_name }}
            </option>
        {% endfor %}</select><br>
gatunek:
        {% for genre in genres %}
            <input type="checkbox" name="genre" value="{{genre.id}}"> {{ genre.name }}<br>

        {% endfor %}
    </input><br>
rok:<input type="text" name="year"><br>
rating:<input name="rating", type="text"><br>
<input type="submit">
</form>
<ul>
{% for movie in movies %}
    <li>{{ movie.title }} {{ movie.director.last_name }}</li>
{% endfor %}
</ul>